

@media (max-width: 520px) {


  .container {
    padding: 5px; 
  }
  
/* ---------- Nav ---------- */
  
  .nav-inner {
  max-width: 520px;
  display: block;
}
  
  .nav-menu {
    float: right;
    width: auto;
    visibility: visible;
    display: inline-block;
    color: var(--ver);
    font-weight: bolder;
    font-size: 1.25rem;
  }
  
  #menu {
  display: none;
}

  .theme-toggle {
    float: right;
    margin: 0 14px 0 0;
  }
  
#menu:checked ~ .nav-links {
  height: auto;
  overflow: visible;
}

  .nav-links {
    width: 90%;
    display: block;
    height: 0;
    overflow: hidden;
    flex-wrap: none;
  align-items: center;
    text-align: center;
  margin: auto;
  padding: 0;
    left: -100%;
}

.nav-link {
  color: var(--ver);
  display: block;
  margin: 30px 0;
  padding: 0;
  text-align: center;
  align-items: center;
}
.nav-link.is-current {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-color: transparent
}


/* ---------- Hero ---------- */

  .sfull {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .hero-banner {
    margin-left: 0;
    margin-top: 0; 
    margin-bottom: 20px;
    padding-left: 0; 
  }

  .hero-slider {
    margin: 0;
    padding: 0;
  }
  
   .slider {
        width: 100%;
        height: 300px;
    }
  
  section,  .blog-post {
    margin: 5px 0;
    padding: 0;
    width: 100%;
  }
  
  .ledger, .ledger-item {
  width: 100%;
  height: auto; 
  display: block; 
}
  
  .ledger {
    max-height: 2530px;
    margin: auto auto;
    padding: 10px;
  }
  
  .ledger-item {
    height: 400px;
    margin: 20px auto; 
    min-width: 98%;
    max-width: 99%; 
  }
  
  .ledger-image {
    height: 200px;
  }

  .latest {
    width: 100%;
  }
  
  .see-all-ls {
    display: none; 
    visibility: hidden;
  }

  .see-all-ss {
    display: inline-block; 
    visibility: visible;
  }

  
/* ---------- Post ---------- */

  .post-lg {
    padding-top: 5px;
    width: 99%;
    margin: 0;
    margin: 0; 
  }
  .post-image {
    max-height: 1000px;
  }
  .post-image, .post-body {
    margin: 0 auto;
    min-width: 98%;
    max-width: 98%; 
    padding: 5px 0;
    max-height: fit-content;
    height: auto;
    display: block !important;
    float: none; 
    overflow: flex; 
  }
  .page-contt {
    width: 93%;
    margin: 0 auto;
    overflow: hidden; 
  }
  .sidebar {
    height: auto;
    max-height: fit-content;
  }
  
/* ---------- Entry ---------- */

  .entry-container {
    width: 98%; 
    margin: 0 auto; 
    padding: 0; 
    left: 0; 
  }

/* ---------- About ---------- */

   .about-header, .about-body {
    width: 90%;
  }
  
/* ---------- Footer ---------- */
  
  .foot-cont {
    width: 95%;
  }
}
